In [ ]:
# 88.12

In [47]:

import pandas as pd

In [2]:
result = []
result.append(pd.read_csv('./result/v7max_depth=5subsample=0.72colsample_bytree=0.72reg_lambda = 0.7.csv'))
result.append(pd.read_csv('./result/v7max_depth=5subsample=0.72colsample_bytree=0.72reg_lambda = 1.2.csv'))
result.append(pd.read_csv('./result/v7max_depth=5subsample=0.72colsample_bytree=0.72reg_lambda = 2.csv'))
result.append(pd.read_csv('./result/v7max_depth=6subsample=0.72colsample_bytree=0.72reg_lambda = 0.7.csv'))
result.append(pd.read_csv('./result/v7max_depth=6subsample=0.75colsample_bytree=0.75reg_lambda = 0.8.csv'))
result.append(pd.read_csv('./result/v7max_depth=7subsample=0.75colsample_bytree=0.75reg_lambda = 0.8.csv'))

In [29]:
import numpy as np
temp = np.zeros((150000, 1))

label =

In [31]:
result[0]['label'].shape

(150000,)

In [32]:
label.shape

(150000,)

In [42]:
label = label.apply(lambda x: 0 if x < 0.5 else 1)

In [44]:
a = pd.DataFrame(result[0]['sid'])
a['label'] = (result[0]['label'] + result[1]['label'] + result[2]['label'] + result[3]['label'] + result[4]['label'] + result[5]['label']) / 6
a['label'] = a['label'].apply(lambda x: 0 if x < 0.5 else 1)

import datetime
timestr = datetime.datetime.now().strftime('%y-%m-%d %H %M %S')

# a.to_csv('result/v5.2 f ' + timestr + '.csv', index=False)

In [45]:
a

            sid  label
0       1440682      0
1       1606824      0
2       1774642      0
3       1742535      0
4       1689686      1
...         ...    ...
149995  1165373      1
149996  1444115      1
149997  1134378      1
149998  1700238      1
149999  1201539      1

[150000 rows x 2 columns]